.footer {
  position: relative;
  // Footer top
  &__top {
    padding: 37px 0;
    border-bottom: 1px solid #ccc;
    @include breakpoint(max-width 740px) {
      padding: 30px 0;
    }
    @include breakpoint(max-width 690px) {
      padding-bottom: 0;
      border-bottom: none;
    }
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include breakpoint(max-width 690px) {
        padding: 0;
      }
    }
    .footer__social {
      position: absolute;
      top: -20px;
      @include breakpoint(max-width 650px) {
        display: none;
      }
      [dir='rtl'] & {
        left: 10px;
      }
      [dir='ltr'] & {
        right: 10px;
      }
    }
  }

  &__form {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__form-title {
    margin: 8px auto 27px;
    width: 100%;
    max-width: 495px;
    font-size: 18px;
    font-weight: 500;
    color: #2c2c2c;
    letter-spacing: 0.4px;
    line-height: 26px;
    text-align: center;
    @include breakpoint(max-width 992px) {
      margin-top: 20px;
    }
    @include breakpoint(max-width 650px) {
      margin: 0 auto 16px;
      max-width: 300px;
      font-size: 15px;
      letter-spacing: 0.33px;
      line-height: 26px;
    }
  }
  &__form-input {
    display: flex;
    @include breakpoint(max-width 650px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__form-btn {
    width: 172px;
    height: 46px;
    color: #fff;
    background-color: #f04c53;
    border: none;
    [dir='rtl'] & {
      margin-right: 8px;
      border-radius: 25px 0 0 25px;
      @include breakpoint(max-width 650px) {
        margin: 0;
        width: 100%;
        border-radius: 25px;
      }
      @include breakpoint(max-width 420px) {
        width: 290px;
      }
    }
    [dir='ltr'] & {
      margin-left: 8px;
      border-radius: 0 25px 25px 0;
      @include breakpoint(max-width 650px) {
        margin: 0;
        width: 100%;
        border-radius: 25px;
      }
      @include breakpoint(max-width 420px) {
        width: 290px;
      }
    }
  }
  &__form-field {
    padding: 0 26px;
    box-sizing: border-box;
    width: 380px;
    height: 46px;
    font-size: 14px;
    border: 1px solid #ccc;
    @include breakpoint(max-width 650px) {
      text-align: center;
    }
    @include breakpoint(max-width 420px) {
      width: 290px;
    }
    &::placeholder {
      color: #868686;
    }
    [dir='ltr'] & {
      border-radius: 25px 0 0 25px;
      @include breakpoint(max-width 650px) {
        margin: 0 0 15px;
        border-radius: 25px;
      }
    }
    [dir='rtl'] & {
      border-radius: 0 25px 25px 0;
      @include breakpoint(max-width 650px) {
        margin: 0 0 15px;
        border-radius: 25px;
      }
    }
  }

  &__docs {
    margin: 0 0 15px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    list-style-type: none;
    @include breakpoint(max-width 420px) {
      margin-bottom: 20px;
    }
  }
  &__docs-item {
    display: block;
    margin: 0 15px;
    font-size: 14px;
    text-decoration: underline;
    color: #2196f3;
    [dir='ltr'] & {
      @include breakpoint(max-width 992px) {
        margin-bottom: 18px;
      }
    }
    [dir='rtl'] & {
      @include breakpoint(max-width 650px) {
        margin-bottom: 18px;
      }
    }
  }
  &__services {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    list-style-type: none;
    [dir='rtl'] & {
      @include breakpoint(max-width 690px) {
        text-align: right;
      }
    }
    [dir='ltr'] & {
      @include breakpoint(max-width 650px) {
        text-align: left;
      }
    }
    @include breakpoint(max-width 690px) {
     flex-wrap: nowrap;
      flex-direction: column;
      border-bottom: 1px solid #b0b0b0;
    }
  }
  &__services-item {
    display: block;
    margin: 0 12px;
    font-size: 12px;
    text-decoration: underline;
    letter-spacing: 0.1px;
    color: #2c2c2c;
    [dir='ltr'] & {
      @include breakpoint(max-width 992px) {
        margin-bottom: 18px;
      }
      @include breakpoint(max-width 690px) {
        margin-bottom: 0;
      }
    }
    @include breakpoint(max-width 690px) {
      margin: 0;
      padding: 0 15px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      width: 100%;
      height: 35px;
      font-size: 11px;
      background-color: #ededed;
      border-top: 1px solid #b0b0b0;
    }
  }

  // Footer bottom
  &__bottom {
    padding-top: 13px;
    padding-bottom: 20px;
    .container {
      display: flex;
      align-items: center;
      @include breakpoint(max-width 650px) {
        justify-content: space-between;
        flex-wrap: wrap;
      }
      [dir='rtl'] & {
        flex-direction: row-reverse;
      }
      [dir='ltr'] & {
        flex-direction: row-reverse;
      }
    }
    .footer__social {
      display: none;
      @include breakpoint(max-width 650px) {
        display: flex;
        margin-top: 4px;
        margin-left: 2px;
      }
    }
  }

  &__payments {
    margin-top: 7px;
    display: flex;
  }
  &__payments-item {
    margin: 0 3px;
    width: 28px;
    height: 20px;
    border-radius: 3px;
    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__comodo {
    width: 190px;
    height: 40px;
    @include breakpoint(max-width 650px) {
      display: none;
    }
    [dir='rtl'] & {
      margin-right: 35px;
    }
    [dir='ltr'] & {
      margin-left: 35px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__social {
    display: flex;
  }
  &__social-link {
    margin: 0 7px;
    overflow: hidden;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    flex-shrink: 0;
    @include breakpoint(max-width 420px) {
      margin: 0 5px;
      width: 30px;
      height: 30px;
    }
    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: right;
    @include breakpoint(max-width 650px) {
      margin-top: 18px;
    }
    [dir='rtl'] & {
      text-align: right;
    }
    [dir='ltr'] & {
      text-align: left;
    }
  }
  &__contacts-row {
    margin-top: 6px;
    font-size: 12px;
    color: #2c2c2c;
    @include breakpoint(max-width 420px) {
      margin-top: 3px;
      font-size: 10px;
    }
  }
}